img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

h3 {
    font-weight: bold;
    color: rgba(249,117,118,255);
}

.description-container {
    font-size: small;
    text-align: center;
}

.description-container *{
    text-align: center;
}

.information {
    border-bottom: 3px solid rgba(211,211,211,255);
    width: 100%;
    padding-bottom: 20px;
}

#description-text {
    padding-left: 10px;
    padding-right: 10px;
}


#carouselScreenshots {
    width: 100%;
}

.carousel-indicators {
    background: transparent;
}

@media screen and (min-width: 360px) {
    .description-container {
        font-size: large;
    }
}

@media screen and (min-width: 1360px) {
    .description-container {
        font-size: x-large;
    }
}