img {
    width: 10px;
    height: 10px;
    padding-right: 5px;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: auto;
}

div {
    border-top: 5px solid;
}