img {
    width: 20px;
    height: 20px;
    padding-right: 5px;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: auto;
}

div {
    border-top: 5px solid;
}

div * {
    background-color: rgb(0, 0, 0);
}