form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

input {
    background-color: rgba(255,255,255,255);
    color: rgba(142,142,142,255);
    width: 40%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 5px;
    border: none;
}

.buttonClass button {
    background-color: rgba(249,117,118,255);
    color: rgba(253,231,232,255);
    padding: 5px 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
}

@media screen and (min-width: 1360px) {
    input {
        max-width: 550px;
    }

}