h2 {
    text-align: center;
    margin-bottom: 30px;
}

.gameContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.gameItem {
    max-width: 90%;
    margin: 10px auto;
    position: relative;
    text-align: center;
}

.gameItem a {
    display: block;
    position: relative;
}

.gameItem img {
    width: 100%;
    height: auto;
}

.imageText {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    font-size: small;
    padding-bottom: 0;
}

.imageText p {
    background-color: transparent;
    margin: 0;
}

.releaseDateFont {
    font-size: x-small;
}


@media screen and (min-width: 360px) {
    .imageText {
        font-size: large;
    }

    .releaseDateFont {
        font-size: medium;
    }

}

@media screen and (min-width: 1360px) {
    .gameContainer {
        justify-content: flex-start;
    }

    .gameItem {
        max-width: 23%;
        height: 400px;
    }

    .gameItem a {
        height: 100%;
    }

    .gameItem img {
        height: 100%;
        object-fit: cover;
    }
}